
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600,400&display=swap');
      </style>
    
  <style>
    .gps-506381097408398215 .pointer-events-auto{pointer-events:auto}.gps-506381097408398215 .invisible{visibility:hidden}.gps-506381097408398215 .absolute{position:absolute}.gps-506381097408398215 .relative{position:relative}.gps-506381097408398215 .z-1{z-index:1}.gps-506381097408398215 .mx-auto{margin-left:auto;margin-right:auto}.gps-506381097408398215 .mb-0{margin-bottom:0}.gps-506381097408398215 .\!inline{display:inline!important}.gps-506381097408398215 .flex{display:flex}.gps-506381097408398215 .inline-flex{display:inline-flex}.gps-506381097408398215 .grid{display:grid}.gps-506381097408398215 .h-5{height:20px}.gps-506381097408398215 .h-full{height:100%}.gps-506381097408398215 .w-5{width:20px}.gps-506381097408398215 .w-full{width:100%}.gps-506381097408398215 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-506381097408398215 .animate-spin{animation:spin 1s linear infinite}.gps-506381097408398215 .flex-col{flex-direction:column}.gps-506381097408398215 .items-center{align-items:center}.gps-506381097408398215 .justify-center{justify-content:center}.gps-506381097408398215 .gap-y-0{row-gap:0}.gps-506381097408398215 .overflow-hidden{overflow:hidden}.gps-506381097408398215 .break-words{overflow-wrap:break-word}.gps-506381097408398215 .rounded-none{border-radius:0}.gps-506381097408398215 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-506381097408398215 .no-underline{text-decoration-line:none}.gps-506381097408398215 .opacity-25{opacity:.25}.gps-506381097408398215 .opacity-75{opacity:.75}.gps-506381097408398215 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-506381097408398215 .duration-200{transition-duration:.2s}.gps-506381097408398215 .duration-300{transition-duration:.3s}.gps-506381097408398215 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-506381097408398215 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-506381097408398215 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}}.gps-506381097408398215 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-506381097408398215 .disabled\:opacity-30:disabled{opacity:.3}.gps-506381097408398215 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-506381097408398215 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-506381097408398215 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-506381097408398215 .\[\&_p\]\:inline p{display:inline}.gps-506381097408398215 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-506381097408398215 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-506381097408398215 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gaV8fPicj4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mb:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:70px;--pr-mobile:15px;--cg:30px;--cg-mobile:42px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaV8fPicj4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gO3IGwFByM relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gLdpxx2Nv_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLdpxx2Nv_ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5ghvjWipN relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gB16HwmuUT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gB16HwmuUT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBctbAcSmv relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcI38a3wA3 "
        style="--tt:default;--ta:right;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:right">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;overflow:hidden"
        >
        <p>Enjoy</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gw837hDbfv relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwfssAoURO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--pt:var(--g-s-xs);--pl:var(--g-s-s);--pb:var(--g-s-xs);--pr:var(--g-s-s);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FB4606;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwfssAoURO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEVlQFsa6_ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gTBUGTMY0K "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;overflow:hidden"
        >
        <p>20% OFF</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRf9RagMU- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gq0pRQkybG "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word;overflow:hidden"
        >
        <p>With</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="ghHwacUWGg "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:42px;word-break:break-word;overflow:hidden"
        >
        <p>Ecom New Collection</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9ZNELPgqX "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:0;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        >
        <p>We have everything you need. Be your own stylist whenever and wherever you wish.</p>
        </div>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"","iconVisible":false,"label":"SHOP THE ECOM COLLECTION"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-3xl);--ta:center"
    class=""
  >
    <style>
    .gqcKrp0rah.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gqcKrp0rah:hover::before {
      
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="button" data-id="gqcKrp0rah" aria-label="SHOP THE ECOM COLLECTION"
      data-state="idle"
      class="gqcKrp0rah gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none hover:bg-g-bg-3 text-g-bg-3"
      style="--hvr-bg:var(--g-c-bg-3, bg-3);--bg:#242424;--hvr-c:#242424;--c:var(--g-c-bg-3, bg-3);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:11px;--pb-mobile:11px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        SHOP THE ECOM COLLECTION
      </span>
    </button>
  </div>
  </gp-button>
  
    <div
      parentTag="Col"
        class="grBBokM2sd "
        style="--tt:uppercase;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >
        <p><u>Explore all furniture</u></p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfF5Y23x32 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image guZoi6_Egf"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--ml:var(--g-s-xl);--mt-mobile:var(--g-s-3xl);--ml-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/fcd090df-3e31-4dd7-baa1-0155510bf0ba/-/format/auto/" data-srcset="https://ucarecdn.com/fcd090df-3e31-4dd7-baa1-0155510bf0ba/-/format/auto/ 768w,https://ucarecdn.com/fcd090df-3e31-4dd7-baa1-0155510bf0ba/-/format/auto/ 1024w,https://ucarecdn.com/fcd090df-3e31-4dd7-baa1-0155510bf0ba/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="546" height="546" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:546/546;--aspect-tablet:546/546;--aspect-mobile:546/546;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-small);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-506381097408398215 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/82f410-0a/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=506380982501246058&sectionId=506381097408398215)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
